* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');
html{
    font-family:'Open Sans', sans-serif;
    color: rgb(66, 66, 66);
}
.container {
    padding: 0 15%;
    height: 100vh;
    width: 100vw;
}

p {
    font-size: 1em;
    font-weight: 300;
}

a {
    display: inline-block;
    text-decoration: none;
    color: black;
}

.product {
    display: flex;
    width: 100%;
    padding: 30px 0;
}

.image img {
    width: fit-content;
    max-width: 500px;
}

div.img-slider {
    display: flex;
    width: fit-content;
    max-width: 500px;
}

div.img-slider img {
    width: fit-content;
    max-width: 100px;
    padding: 5px;
}

.product .details {
    margin-left: 2em;
    padding: 2em;
    width: 100%;
}

.product .details h1 {
    font-size: 2.5em;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}

.product .details h2 {
    line-height: 1.6;
    padding-top: 1.5em;
    width: fit-content;
    max-width: 350px;
    font-size: 1em;
    font-weight: 600;
}

.product .details p.description {
    line-height: 1.5;
    padding-top: 1em;
    width: fit-content;
    max-width: 500px;
}

.rating {
    padding-top: 2em;
}

.fa-star {
    color: rgb(0, 199, 123)
}

.review {
    padding-top: .8em;
}

.review span {
    color: rgb(0, 199, 123);
    font-weight: bold;
}

a.review:hover {
    border-bottom: solid black;
    transition: 1s ease-in-out;
}

.price {
    padding: 2em 0;
}

.buttons {
    padding-top: .5em;
}

.btn {
    padding: 10px 20px;
    margin: .2em;
    border: solid #000;
    font-size: 15px;
}

.btn1 {
    background-color: black;
    color: white;
}

.btn2 {
    color: #000;
}

.features {
    display: flex;
    margin-top: 30px;
    width: 80%;
    justify-content: space-between;
}

.single {
    display: flex;
}

.single img {
    width: 25px;
    margin-right: 10px;
}

@media only screen and (max-width: 449px) {
    .container {
        padding: 0 80px;
        height: 100vh;
        width: 100vw;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1080px) {
    .container {
        padding: 0 40px;
        height: 100vh;
        width: 100vw;
    }
}

@media only screen and (min-width: 450px) and (max-width: 767px) {
    .product {
        display: flex;
        width: 100%;
        padding: 30px 0;
        flex-direction: column;
    }
    .product .details {
        margin-left: 0;
    }
    .container {
        padding: 0 40px;
        height: 100vh;
        width: 100vw;
    }
}